<!DOCTYPE html>
<html>
<head>
    <title>iSpace - Mahsulotlar Katalogi</title>
</head>
<body>

    <h1>iSpace Internet Do'koni - Mahsulotlar Ro'yxati</h1>

    <table border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>Rasm</th>
                <th>Mahsulot Nomi</th>
                <th>Brend (Vendor)</th>
                <th>Narxi (so'm)</th>
                <th>Eski Narxi</th>
                <th>Displey</th>
                <th>Protsessor</th>
                <th>Xotira</th>
            </tr>
        </thead>
        <tbody>
            {% for x in products %}
            <tr>
                <td>
                    {% if x.image %}
                        <img src="{{ x.image.url }}" width="100">
                    {% else %}
                        Rasm yuklanmagan
                    {% endif %}
                </td>

                <td>{{ x.title }}</td>
                <td>{{ x.vendor }}</td>
                <td>{{ x.price }}</td>
                <td>{{ x.old_price }}</td>
                <td>{{ x.display_size }}</td>
                <td>{{ x.processor }}</td>
                <td>{{ x.internal_memory }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>